@import '../src/styles/colors.scss';

.header {
    background-color: $gray-700;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 2.25rem;
        margin-top: 8px;
    }

    p {
        font-size: 2.5rem;
        font-weight: 900;
        color: $blue;
        margin-left: 12px;;

        span {
            color: $purple;
        }
    }
}