@import '../../styles/colors.scss';

.taskListing {
    background-color: $gray-500;
    border: 1px solid $gray-400;
    border-radius: 8px;

    padding: 16px;
    display: flex;

    justify-content: space-between;

    .checkboxAndText {
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            color: $gray-100;
        }

        input[type='checkbox'] {
            display: none;

            & + label:before {
                content: '';
                width: 17.5px;
                height: 17.5px;
                border-radius: 10px;
                background-color: none;
                display: inline-block;
                border: 1px solid $blue;
                vertical-align: middle;
                margin-right: 8px;
                margin-bottom: 3px;
            }

            &:checked + label:before {
                background-image: url('../../assets/check.svg');
                background-position: center;
                background-color: none;
                border: none;
                padding: 0.5px;
            }
        }

        .done {
            color: $gray-300;
            text-decoration: line-through;
        }
    }

    .delete {
        height: 25px;
        width: 25px;
        background: none;
        color: $gray-300;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: $danger;
            background-color: $gray-400;
            border-radius: 8px;
        }
    }

    & + .taskListing {
        margin-top: 0.5rem;
    }
}